<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC34zOLaO3HkiosaBeAWbPiBGnOJRsTgAo</string>
	<key>GCM_SENDER_ID</key>
	<string>167705179618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.potenic-app</string>
	<key>PROJECT_ID</key>
	<string>potenic-7fef9</string>
	<key>STORAGE_BUCKET</key>
	<string>potenic-7fef9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167705179618:ios:2d31fb059ffe8e2576b5bb</string>
	<key>DATABASE_URL</key>
	<string>https://potenic-7fef9-default-rtdb.firebaseio.com</string>
</dict>
</plist>